.hotel {
  .mat-card {
    display: flex;
    border-radius: 0;
    padding: 10px;
  }

  &-description {
    display: flex;
    width: 100%;
    margin: 0;
  }

  &-content {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    border-right: 1px dashed #a2a2a2;
    width: calc(100% - 300px);

    &-title {
      color: #157ab1;
      font-weight: 600;
      font-size: 18px;
    }

    &-stars {
      i {
        color: #fdba12;
        margin-right: 5px;
      }
    }

    &-amenities {
      padding-top: 10px;

      .amenitie {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }

  &-image {
    background-image: url('/assets/images/hotels/46512_29_b.jpg');
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  &-actions {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;

    p {
      font-size: 12px;
      text-align: center;
    }

    h5 {
      color: #df6800;
      font-size: 30px;
      margin: 0;
      text-align: center;

      span {
        font-size: 18px;
      }
    }

    .btn-hotel {
      background-color: #002c77;
      color: white;
      width: 160px;
    }
  }
}

@media screen and(max-width: 768px) {
  .hotel {
    .mat-card {
      flex-direction: column;
    }

    &-content {
      border-right: none;
      border-bottom: 1px dashed #a2a2a2;
      width: auto;
      padding: 10px 0;
    }

    &-image {
      width: 100%;
    }

    &-description {
      flex-direction: column;
    }

    &-actions {
      .btn-hotel {
        width: 100%;
      }
    }
  }
}
