<section class="hotels">
  <div class="hotels-container">
    <!-- Hotels Filter  -->
    <section class="hotels-filter">
      <app-filter></app-filter>
    </section>
    <!-- / Hotels Filter  -->

    <!-- Hotels List  -->
    <section class="hotels-list">
      <div
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="200"
        [infiniteScrollContainer]="selector"
        [fromRoot]="true"
        (scrolled)="onScroll()"
        *ngFor="let hotel of hotels"
      >
        <app-card-hotel [hotel]="hotel"></app-card-hotel>
      </div>
    </section>
    <!-- / Hotels List  -->
  </div>
</section>
