.hotels {
  height: 100%;
  background-color: #f4f4f4;
  overflow: auto;

  &-filter {
    position: sticky;
    top: 0;
  }

  &-container {
    max-width: 1270px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    gap: 10px;
    padding: 10px;
  }

  &-list {
    display: grid;
    width: 100%;
    grid-column: span 2;

    app-card-hotel {
      margin-bottom: 10px;
    }
  }
}

@media screen and(max-width: 1000px) {
  .hotels {
    &-container {
      display: flex;
      flex-direction: column;
    }

    &-filter {
      top: 10px;
      padding-bottom: 10px;
      z-index: 2;
      background-color: #f4f4f4;
    }

  }
}


@media screen and(max-width: 768px) {
  .hotels {
    padding: 0;


    &-filter {
      top: 0;
    }

    &-container {
      padding: 0;
    }

    &-list {
      padding: .5em;
      padding-top: 0;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1em;
      width: calc(100% - 1em);
    }
  }
}
